MPESA_CONSUMER_KEY=your_production_consumer_key
MPESA_CONSUMER_SECRET=your_production_consumer_secret
MPESA_ENVIRONMENT=production
MPESA_BUSINESS_SHORTCODE=your_production_shortcode
MPESA_PASSKEY="your_production_passkey"
MPESA_SECURITY_CREDENTIAL=<production_security_credential_from_api_app>
